/* Typeface Imports */
@font-face {
    font-family: "Graphik Bold";
    src: url("../fonts/Graphik-Bold-Web.woff2") format("woff2");
}

@font-face {
    font-family: "Graphik Regular";
    src: url("../fonts/Graphik-Regular-Web.woff2") format("woff2");
}

@font-face {
    font-family: "Graphik Light";
    src: url("../fonts/Graphik-Light-Web.woff2") format("woff2");
}

@font-face {
    font-family: "Portrait Text";
    src: url("../fonts/PortraitText-Regular-Web.woff2") format("woff2");
}

:root {
    --wa-midnight: #0c223f;
    --wa-midnight-50: #0c223f88;
    --wa-white: #ffffff;
    --wa-white-50: #ffffff88;
    --wa-hot-freeze: #1bcfc9;
    --wa-hot-freeze-50: #1bcfc988;
    --wa-canary: #fdef5c;
    --wa-concrete: #eaebeb;
    --text-color: var(--wa-midnight);
    --bg-color: var(--wa-white);
    --main-margins: 32px;
    --serif: "Portrait Text", Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --sans-serif-fallback: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --sans-serif-bold: "Graphik Bold", var(--sans-serif-fallback);
    --sans-serif-light: "Graphik Light", var(--sans-serif-fallback);
    --sans-serif: "Graphik Regular", var(--sans-serif-fallback);
    scroll-behavior: smooth;
}

body {
    display: block;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 1024px;
    margin: auto;
    padding: 0 var(--main-margins);
    font-family: var(--sans-serif);
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

main {
    margin-top: 0;
}

footer {
    background: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    padding-bottom: 20px;
}

footer a {
    color: var(--wa-white);
    transition: all 0.4s;
}

footer a:hover,
footer a:focus {
    color: var(--wa-white-50);
}

h1, h2, h3, h4, h5 {
    line-height: 1;
}

h1 {
    font-family: var(--sans-serif-bold);
}

h2 {
    font-family: var(--sans-serif-light);
}

h3 {
    font-family: var(--sans-serif);
}

p {
    font-family: var(--serif);
    font-size: 1.3rem;
}

svg {
    fill: var(--text-color);
}

.btn {
    color: var(--text-color);
    border: solid 4px;
    text-decoration: none;
    font-family: var(--sans-serif);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: .15rem;
    padding: .33rem;
    margin-top: .33rem;
    display: inline-block;
    transition: all 0.4s;
    cursor: pointer;
}

.cta {
    background-color: var(--wa-midnight);
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border-top: solid 5px var(--wa-canary);
    margin-top: 10px;
    position: relative;
}

.cta::before {
    content: '';
    display: block;
    width: 8px;
    height: 100px;
    top: -75px;
    right: -45px;
    background-color: var(--wa-hot-freeze);
    position: absolute;
}

.cta .btn {
    color: var(--wa-white);
    margin-top: 0;
    margin-right: .2rem;
    width: calc(100% - 20px);
    text-align: center;
    display: block;
}

.cta .btn:nth-child(n+2) {
    margin-top: 10px;
}

.btn:hover,
.bt n:active,
.btn:focus {
    color: var(--wa-hot-freeze);
    box-shadow: 0 2px var(--wa-midnight);
    transform: translateY(-2px);
}

#logo svg{
    height: 38px;
    padding: 10px;
    position: absolute;
    overflow: visible;
}

#navigation-logo {
    opacity: 0;
}

.section {
    padding: 0 10px;
}

.section-heading {
    opacity: 0.5;
    letter-spacing: 0.2rem;
    margin: 0;
    padding: 60px 0 0;
}

/* responsive navigation */
.main-nav {
    background-color: #ffffff88;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    position: fixed;
    width: calc(100% - (var(--main-margins)*2));
    max-width: 1024px;
    z-index: 3;
    height: 58px;
}

header::after {
    content: '';
    display: block;
    aspect-ratio: 2 / 1;
}

.main-nav ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: transparent;
}

.main-nav li a {
display: block;
padding: 20px;
text-decoration: none;
color: var(--text-color);
border-bottom: solid 4px transparent;
box-sizing: border-box;
transition: background 0.4s, border-bottom-color 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav li a:focus,
.main-nav .menu-btn:hover,
.main-nav .menu-btn:active,
.main-nav .menu-btn:focus {
background-color: #f4f4f4;
border-bottom: solid var(--wa-hot-freeze) 4px;
}

/* menu */

.main-nav .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}

/* menu icon */

.main-nav .menu-icon {
cursor: pointer;
float: right;
padding: 28px 20px;
position: relative;
user-select: none;
}

.main-nav .menu-icon .navicon {
background: #333;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.main-nav .menu-icon .navicon:before,
.main-nav .menu-icon .navicon:after {
background: #333;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.main-nav .menu-icon .navicon:before {
top: 5px;
}

.main-nav .menu-icon .navicon:after {
top: -5px;
}

/* menu btn */

.main-nav .menu-btn {
display: none;
}

.main-nav .menu-btn:checked ~ .menu {
max-height: 100vh;
background-color: var(--wa-midnight);
}

.main-nav .menu-btn:checked ~ .menu li a {
    color: var(--wa-white);
}

.main-nav .menu-btn:checked ~ .menu li a:hover {
    color: var(--wa-midnight);
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.main-nav .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.main-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.main-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}

.main-nav aside {
    display: inline-block;
    padding-top:5px;
    padding-right: 5px;
    position: absolute;
    top: 58px;
    right: 0;
}

.main-nav aside ul {
    margin-top: 0;
    padding-top: 0;
}

.social-icons li {
    display: block;
    background-color: var(--wa-midnight);
    clear: both;
    float: none;
}

.social-icons li a {
    padding: 16px!important;
    box-sizing: border-box;
}

.social-icons span {
    display: none;
}

.social-icons li a {
    color: var(--wa-white);
    transition: all 0.4s;
    border-bottom: none;
}

.social-icons li a:hover,
.social-icons li a:active,
.social-icons li a:focus {
    background-color: var(--wa-hot-freeze);
    color: var(--wa-midnight);
    border-bottom: none;
    box-sizing: border-box;
}

.hero {
    padding: 0 10px 0;
}

.headline {
    width: 80%;
    padding-right: 0;
    background: linear-gradient(90deg, transparent, var(--wa-white-50));
    z-index: 1;
}

.headline::after {
    content: '';
    display: block;
    background: var(--wa-hot-freeze);
    width: 50px;
    height: 8px;
    margin: 40px 0;
    padding: 0;
}

.headline h1,
.headline h2 {
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
}

/* Case Studies Cards */

#case-studies {
    background-color: var(--wa-hot-freeze);
}

#case-studies .section-heading {
    /* color: var(--wa-white); */
    opacity: 1;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.cards article {
    flex: 0 1 100%;
    background-color: var(--wa-white);
    margin-bottom: 1rem;
    padding: 2%;
    transition: all 0.4s;
}

.cards article:hover,
.cards article:focus {
    transform: translateY(-3px);
    box-shadow: 0 9px 6px -6px var(--text-color);
    color: var(--wa-midnight-50);
}

.cards article a {
    text-decoration: none;
    color: inherit;
}

.cards article a p::after {
    display: inline;
    padding: 0.2 0;
    margin-left: 10px;
    font-weight: 600;
    color: var(--wa-hot-freeze);
    flex-direction: column;
    content: "Read More";
}

.cards article h3 {
    margin-bottom: 0;
    font-family: var(--sans-serif-bold);
    font-size: 1.4rem;
}

.cards article img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.cards article h3::after {
    content: '';
    height: 8px;
    width: 50px;
    margin-top: 16px;
    display: block;
    background-color: var(--wa-hot-freeze);
}

/* Form Styling */

#contact {
    background: var(--text-color);
    color: var(--bg-color);
    padding-bottom: 200px;
}

form input,
form textarea,
form .btn {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: solid 1px;
    color: var(--bg-color);
    position: relative;
}

label.required::after {
    content: '*';
    color: red;
    display: inline-block;
}

form label {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: var(--sans-serif-bold);
    margin: 1rem 0 .5rem;
    display: block;
}

#contact>form,
#contact>#thank-you {
    width: 80%;
    margin: 50px auto;
}

#contact>form input,
#contact>form textarea {
    border: none;
    border-bottom: 2px solid;
    resize: none;
    background: #ffffff11;
    font-family: var(--sans-serif);
    font-size: 1.2rem;
    line-height: 1.5;
}

#contact>form .btn {
    border: 2px solid;
    font-family: var(--sans-serif-light);
    font-size: 1.2rem;
    letter-spacing: .5rem;
    margin-top: 1rem;
}

#thank-you {
    min-height: 500px;
    display: none;
    text-align: center;
}

#thank-you h3 {
    font-family: var(--sans-serif-bold);
    font-size: 2rem;
    line-height: 0;
    margin: 0;
}

#thank-you p {
    font-family: var(--sans-serif);
}

#work-phone {
    height: 0;
    opacity: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .main-nav li {
        float: left;
    }
    .main-nav li a {
        padding: 15px 30px;
    }
    .main-nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .main-nav .menu-icon {
        display: none;
    }

    .cta .btn {
        display: inline-block;
        width: calc(50% - 25px);
    }

    .cta .btn:nth-child(n+2) {
        margin-top: 0;
    }

    #contact>form,
    #contact>#thank-you {
        width: 50%;
    }

    .cards article {
        flex: 0 1 47%;
        padding: 1%;
    }
    
    .headline {
        width: 72%;
    }
}

@media (max-width: 500px) {
    .headline {
        width: 85%;
        padding-right: 95px;
    }

    #contact>form {
        width: calc(100% - 1rem);
    }

    body {
        max-width: 100%;
        padding: 0;
    }

    .main-nav {
        width: 100%;
    }
}
